/*
===============
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");
/*
===============
Variables
===============
*/
:root {
  /*========== header ==========*/
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  --clr-text: hsl(0, 100%, 60%);
  --clr-text-secondary: hsl(217, 67%, 28%);
  --clr-gradient: var(--clr-text), var(--clr-bg-secondary, rgba(220, 38, 38, 0));
  --clr-bg: hsl(0, 100%, 1%);
  --clr-bg-secondary: hsl(150, 16%, 69%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 13%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  /*========== Font and typography ==========*/
  --ff-primary: "Oleo Script Swash Caps", cursive;
  --ff-secondary: "Open Sans", Tahoma, sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  /*==========Radius ==========*/
  --radius: 0.5rem;
  --radius-1: 1rem;
  --radius-2: 1.5rem;
  /*==========Shadow ==========*/
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --medium-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margenes Bottom ==========*/
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;
  --mb-4: 4rem;
  /*========== z index ==========*/
  --z-back: -10;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --clr-black: hsl(0, 0%, 100%);
  --clr-white: hsl(0, 9%, 17%);
}

/*
===============
GLOVAL STYLES
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: var(--ff-secondary);
  background-color: var(--clr-white);
  color: var(--clr-black);
  transition: var(--transition);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  /* font-size: inherit; */
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.75rem;
  font-family: var(--ff-secondary);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
}

h1 {
  font-size: clamp(1.8rem, 10vw, 4.4rem);
}

h2 {
  font-size: clamp(1.2rem, 7vw, 2.5rem);
}

h3 {
  font-size: clamp(1rem, 5vw, 1.75rem);
}

h4 {
  font-size: clamp(0.875rem, 4vw, 1rem);
}

p {
  margin-bottom: 0.75rem;
  font-size: clamp(0.875rem, 3vw, 1rem);
  color: var(--clr-grey-9);
  /* font-weight: var(--font-semi-bold); */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

input,
button {
  font-family: var(--ff-secondary);
  border: none;
  outline: none;
}

/*
===============
FONT SIZE FOR LARGE DEVICES
===============
*/
@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
  h1,
h2,
h3,
h4 {
    line-height: 1.2;
    margin-bottom: 1.2rem;
  }
  p {
    margin-bottom: 1.2rem;
  }
}
/*
===============
GLOVAL CLASS
===============
*/
.btn {
  display: inline-block;
  padding: 0.375rem 0.45rem;
  font-weight: 600;
  text-transform: lowercase;
  background: transparent;
  color: var(--clr-grey-4);
  transition: var(--transition);
  border: 2px solid var(--clr-text-secondary);
  cursor: pointer;
  border-radius: 0.5rem;
  /* letter-spacing: var(--spacing); */
}

.btn:hover {
  color: var(--clr-primary-5);
  background: var(--clr-primary-1);
  border-color: var(--clr-primary-1);
}

/*
===============
CENTER CLASS
===============
*/
.y-main {
  overflow: hidden;
}

.section {
  padding: 5rem 0;
}

.y-grid {
  max-width: 1024px;
  margin-left: var(--mb-1);
  margin-right: var(--mb-1);
  width: calc(100% - 2rem);
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
}

/*
===============
HEADER
===============
*/
.y-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi-bold);
}
.nav__logo {
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem;
}
.nav__logo-icon {
  font-size: 1.25rem;
}
@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--clr-text-secondary);
    transition: var(--transition);
  }
}
.nav__item {
  margin-bottom: var(--mb-4);
}
.nav__link {
  position: relative;
}
.nav__link span {
  position: absolute;
  top: 2rem;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--clr-black);
  border-radius: 50px;
  transition: all 0.3s ease-out 0s;
}
.nav__link span::before {
  position: absolute;
  content: "";
  left: 111%;
  width: 0;
  height: 2px;
  background-color: var(--clr-black);
}
.nav__link span::after {
  position: absolute;
  content: "";
  left: 140%;
  width: 0;
  height: 2px;
  background-color: var(--clr-black);
}
.nav__link:hover span {
  width: 60%;
  background-color: var(--clr-black);
}
.nav__link:hover span::before {
  width: 25%;
  left: 109%;
}
.nav__link:hover span::after {
  width: 15%;
  left: 140%;
}
.nav__btns {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.nav__btns .nav__icon {
  font-size: 1.15rem;
  cursor: pointer;
  display: inline-flex;
  transition: var(--transition);
}
.nav__btns .nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
  transition: var(--transition);
}

/*Active menu*/
.active span {
  width: 60%;
  background-color: var(--clr-black);
}
.active span::after {
  left: 140%;
  width: 15%;
  background-color: var(--clr-black);
}
.active span::before {
  left: 109%;
  width: 25%;
  background-color: var(--clr-black);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home__line {
  position: absolute;
  width: 100%;
  top: 35%;
  z-index: var(--z-back);
}
.home__line .line__one {
  width: 100%;
  height: 15px;
  background: var(--clr-text);
}
.home__line .line__two {
  width: 100%;
  height: 25px;
  background: var(--clr-text-secondary);
}
.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
}
.home__img {
  width: 265px;
  justify-self: center;
}
.home__data {
  align-self: start;
}
.home__title {
  color: var(--clr-grey-5);
}
.home__title-sub {
  text-align: center;
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--clr-text);
  color: #fff;
  padding: 0.75rem 1.5rem;
  font-weight: var(--font-semi-bold);
  border-radius: 0.5rem;
  margin-left: 50%;
}
.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: var(--mb-4);
    margin-bottom: 0;
  }
  .nav__btns .nav__toggle {
    display: none;
  }
  .home__line {
    height: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    left: 23%;
    top: 0;
    display: inline-flex;
  }
  .home__line .line__one {
    width: 15px;
    height: 100%;
  }
  .home__line .line__two {
    width: 25px;
    height: 100%;
  }
  .home__container {
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
  }
  .home__data {
    align-self: center;
  }
  .home__img {
    width: 365px;
    align-self: center;
  }
}
@media screen and (min-width: 900px) {
  .home__line {
    left: 23%;
  }
}
@media screen and (min-width: 1024px) {
  .y-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home__line {
    left: 30%;
  }
}
@media screen and (min-width: 1440px) {
  .home__line {
    left: 31%;
  }
}/*# sourceMappingURL=style.css.map */